* text=auto
*.cs text eol=crlf
*.unity text eol=lf merge=unityyamlmerge
*.prefab text eol=lf merge=unityyamlmerge
*.asset text eol=lf merge=unityyamlmerge
*.meta text eol=lf
*.png binary
*.fbx binary
*.blend binary
*.png filter=lfs diff=lfs merge=lfs -text
*.jpg filter=lfs diff=lfs merge=lfs -text
*.jpeg filter=lfs diff=lfs merge=lfs -text
*.fbx filter=lfs diff=lfs merge=lfs -text
*.blend filter=lfs diff=lfs merge=lfs -text
*.vat filter=lfs diff=lfs merge=lfs -text
*.exr filter=lfs diff=lfs merge=lfs -text
*.tga filter=lfs diff=lfs merge=lfs -text
unity/Assets/Guerre/Soldats/*.asset filter=lfs diff=lfs merge=lfs -text
unity/Assets/Guerre/Carte/Vallee.asset filter=lfs diff=lfs merge=lfs -text
